body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* #chartdiv {
  width: 100%;
  height: 500px
} */
/* -----Filtering--- */
.container1 {
  margin-top: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.filterDiv {
  /* float: left; */
  /* background-color: #2196F3; */
  /* color: hsl(0, 3%, 81%); */
  width: 100%;
  /* line-height: 100px; */
  align-items: center;
  margin-left: 4em;
  margin-top: 2em;
  display: none; /* Hidden by default */
}

 /* .filterDiv.active::after{
  content: '';
  position: absolute;
  display: block;
  align-content: center;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}  */
#chartdiv1{
  width: 100%;
  height: 400px;
  /* padding: left 2em; */

}
#chartdiv2{
  width: 100%;
  height: 400px;

}
#chartdiv3{
  width: 100%;
  height: 400px;

}
#chartdiv4{
  width: 100%;
  height: 400px;

}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
  /* align-items: center; */
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
  
  
}

@media only screen and (max-width:1170px){
  .container1{
    display: grid;
  grid-template-columns: 1fr ;
  
  
  }
  .filterDiv{
    margin-left: 1em;
  }
  #chartdiv1{
    width: 95%;
    height: 400px;
    /* padding: left 2em; */
  
  }
  #chartdiv2{
    width: 95%;
    height: 400px;
  
  }
  #chartdiv3{
    width: 95%;
    height: 400px;
  
  }
  #chartdiv4{
    width: 95%;
    height: 400px;
  
  }
}


