/* *{ */
    
    /* overflow: hidden; */
  /* } */
  
  
  .card_grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin-left: 10em;
      margin-right: 10em;
      margin-top: 50px;
      margin-bottom: 50px;
      /* overflow: hidden; */
  }
  .dropdown{
      align-items: center;
      margin-left: 34% !important;
      margin-top: 50px;
      width: 60%;
      /* display: inline-block; */
     /* overflow: hidden; */
      
  }
  .form-group{
    display: inline-block !important;
  }
  .btn{
    margin-top: 20px;
    margin-left: 24%;
    width: 50% !important;
  }

  .form-group{
    width: 50%;
  }
.card{
  height: 200px;
  
}
.card2{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 20%;
  width: 50%;
  padding: 10px;
}
.card2 h3{
margin: 15px;
}
.card2 p {
  margin-left: 15px;
}
.card2 h4{
  margin-left: 15px;
}
h1{
  margin: 30px;
}
h4{
  margin-left: 30px;
}
h3{
  margin-left: 30px;
}
.form-control{
  width: 100% !important;
}

  @media only screen and (max-width:998px ){

    .card_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-left: 3em;
        /* padding-right: 3.5em; */
        /* margin-left: 2em;
        margin-right: 2em; */
    }
    .card{
        margin-left: 1.5em;
        margin-right: 1.5em;
        /* padding-left: 30px; */
    }

  }