/* *{ */
    
    /* overflow: hidden; */
  /* } */
  
  
   .card_grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10%;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 80%;
      /* overflow: hidden; */
  }
   .dropdown{
      align-items: center;
      margin-left: 34% !important;
      margin-top: 50px;
      width: 60%;
      /* display: inline-block; */
     /* overflow: hidden; */
      
  }
   .form-group{
    display: inline-block !important;
  }
   .btn{
    margin-top: 20px;
    margin-left: 24%; 
    width: 50% !important;
    background-color: #13143A !important;
    color: white;
  }

  .form-group{
    width: 50%;
  }
  
  .card{
  height: 200px;
  width: 100%;
  
}
 .card2{
  margin-top: 20px;
  /* text-align: center;
  align-self: center; */
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  padding: 10px;
}
.card2 h3{
margin: 15px;
font-size: 25px;
  
  
}

#cluster1{
  background: #32289B;
  text-align: center;

  
}
#cluster2{
  background: #EC336B;
  text-align: center;

  
}
#cluster3{
  background: #5cdB95;
  text-align: center;


}

#box1{
  background:#C91958 ;
  /* text-align: left !important; */

  
}
#box2{
  background: #32289B;
  /* text-align: left !important; */

  /* text-align: center; */

  
}
#box3{
  background: #14cc9b;
  text-align: justify !important;

  /* text-align: center; */


}
.card2 h3{
  font-size: 30px !important;
  color: white !important;
  text-align: center !important;
}
.card2 p {
  margin-left: 10%;
  font-size: 18px;
  text-align: justify !important;


}


.card2 h4{
  margin-left: 15px;
  font-size: 23px;
  color: white;
  margin-top: 25px;
  text-align: left !important;
  margin-bottom: 20px;


}
 h1{ 
  margin: 30px;
  color: #A4A8CD;
}
h4{
  margin-left: 30px;
  font-size: 15px;
  color: #A4A8CD;

}
 h3{
  margin-left: 30px;
  color: #CB7F8F;
  font-size: 20px;

}
.form-control{
  width: 100% !important;
  background-color:#000752 ;
  border-color: transparent;
  color: #A4A8CD;
}
.form-group label{
  color: #8B772E;
  
}
.form-control option{
  background-color:#000752 ;
  border-color: transparent;
  color: #A4A8CD;
}

  @media only screen and (max-width:998px ){

    .card_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
        align-items: center !important;
      
        padding-left: 3em;
        /* padding-right: 3.5em; */
        /* margin-left: 2em;
        margin-right: 2em; */
    }
   .card{
        margin-left: 1.5em;
        margin-right: 1.5em;
        
        /* padding-left: 30px; */
    }
    #cluster3{
      align-self: center !important;
      
    

  }}

  @media only screen and (max-width:630px){
    .card_grid{
      display: grid;
      grid-template-columns: 1fr ;
      gap: 20px;
      /* align-items: center !important; */
      
    
      /* padding-left: 3em; */
      /* padding-right: 3.5em; */
      /* margin-left: 2em;
      margin-right: 2em; */
  }
  .card{
    margin-left: 0 !important;
    align-self: center;
    margin-right:1em;
    
    /* padding-left: 30px; */
}
  }

  @media only screen and (max-width:936px) and (min-width: 492px){
    .card2 p {
      margin-left: 10%;
      font-size: 1.5em;
      text-align: justify !important;
    
    
    }
    
    
    .card2 h4{
      margin-left: 7%;
      font-size: 2em;
      
  }
  .card2{
    margin-top: 20px;
    /* text-align: center;
    align-self: center; */
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 10px;
  }

}

@media only screen and (max-width:492px){
  .card2{
    margin-top: 20px;
    /* text-align: center;
    align-self: center; */
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 10px;
  }
  .card2 h4{
    margin-left: 4%;
    font-size: 2em;
    
}
  .card2 p{
    margin-left: 4%;
    font-size: 1.5em;
  }
}