
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  /* margin-left: 30%; */
  /* margin-right: 30%; */
}
.form{
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    /* border-radius: 10px; */
}
::placeholder { /* Internet Explorer 10-11 */
  color: #A4A8CD;
  opacity: 1;
}
.search{
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 30%;
}
input {
  border: none;
  background-color:#000752;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: #A4A8CD;
}
input[type=text] {
  background-color: #000752;
  width: 100%;
  color: #A4A8CD;

}
.button2 {
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size:16px;
  border-radius: 5px;
  border:none;
  


  /* margin-top: 20px;
  margin-left: 40%;
  margin-right: 40%; */
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.table2{
margin-top: 50px;
/* padding: 15px; */
  border-radius: 20px;
  background-color:#313673;
margin-left: 25%;
margin-right: 25%;
}


  .container3 th h1 {
    font-weight: bold;
    font-size: 1em;
  text-align: left;
  color: white
  }
  
  .container3 td {
    font-weight: normal;
    font-size: 0.75em;
    color: #A4A8CD ;
    gap: 6px;
  /* -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119; */
  }

  .main-heading{
    color:  #ADFF00;
    font-size: 3em;
    margin-left: 25%;
    margin-right: 25%;
  }
  .main-para{
    color: #A4A8CD;
    margin-left: 32%;
    margin-right: 25%;
    margin-bottom: 30px;
  }
  
#heading2{
  color:  #A4A8CD;
  font-size: 2em;
/* text-align: center; */
margin-top: 40px;
}

#heading1{
  color: #a4a8cdb2 ;
  font-size: 1.5em;
/* text-align: center; */
margin-top: 70px;
margin-left: 35%;
margin-right: 30%;

}

  .container3 {
    text-align: left;
    /* overflow-x: auto; */
    /* width: fit-content; */
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;

  display: block;
  /* padding: 0 0 10em 0; */
  border-spacing: 3em 0
  
  
  }
  
  .container3 td, .container3 th {
    padding-bottom: 30px;
    /* padding-top: 2.5%; */
    padding-left:30px;  
  }

.container3 th{
    padding-top: 20px;
}


.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

@media only screen and (max-width:899px){
.form{
    margin-left: 20%;
    margin-right: 20%;
}
}
@media only screen and (max-width:1016px){
  .table2{
  overflow-x: scroll;
  }
  }

/* @media only screen and (max-width:547px){
    .form{
        margin-left: 3%;
        margin-right: 2%;
        
    }
    } */