<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
   <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="//www.amcharts.com/lib/4/charts.js"></script>
    
	<script src="https://www.amcharts.com/lib/4/maps.js"></script>
	<script src="https://www.amcharts.com/lib/4/geodata/india2019High.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <link rel="stylesheet" href="../static/heatmap.css">

    <link rel="stylesheet" href="static/style.css">
    
    <title>Document</title>
</head>

<header class="header" id="header">
    <div class="header__toggle">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>

    <!-- <div class="header__img">
        <img src="assets/img/perfil.jpg" alt="">
    </div> -->
</header>
<body id="body-pd">
  
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                

                <div class="nav__list">
                    
                    <a href="#" class="nav__link active">
                        <i class="fas fa-chart-line"></i>
                        <span class="nav__name">Dashboard</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="nav__name">Heat Maps</span>
                    </a>
                    
                    <a href="#" class="nav__link">
                        <i class="fas fa-viruses"></i>

                        <span class="nav__name">Predictions</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class="fab fa-wpforms"></i>
                        <span class="nav__name">Forms</span>
                    </a>

                    

                    
                </div>
            </div>
        </nav>
    </div>

  
  <section>
  <main>
    <div class="main__container">
        <div class="main__title">
            <div class="main__greeting">
                <h1>Covid 19 Dashboard</h1>
            
            </div>
        </div>
        <div class="table1" >
            <div class="table__left" style="overflow-x:scroll">
                <table class="container" id = "table" >
                    <thead>
                        <tr>
                            <th><h1>States</h1></th>
                            <th><h1>Confirmed</h1></th>
                            <th><h1>Recovered</h1></th>
                            <th><h1>Deceased</h1></th>
                            <th><h1>Active</h1></th>

                        </tr>
                    </thead>
                    <!-- <tbody>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>9518</td>
                            <td>6369</td>
                            <td>01:32:50</td>
                        </tr>
                        <tr>
                            <td>Twitter</td>
                            <td>7326</td>
                            <td>10437</td>
                            <td>00:51:22</td>
                        </tr>
                        <tr>
                            <td>Amazon</td>
                            <td>4162</td>
                            <td>5327</td>
                            <td>00:24:34</td>
                        </tr>
                    <tr>
                            <td>LinkedIn</td>
                            <td>3654</td>
                            <td>2961</td>
                            <td>00:12:10</td>
                        </tr>
                    <tr>
                            <td>CodePen</td>
                            <td>2002</td>
                            <td>4135</td>
                            <td>00:46:19</td>
                        </tr>
                    <tr>
                            <td>GitHub</td>
                            <td>4623</td>
                            <td>3486</td>
                            <td>00:31:52</td>
                        </tr>
                    </tbody> -->
                </table>
                
            </div>
            <div class="table__right">
                <div class="table__right__title">
                    <div>
                        <h1>
                            Stats
                        </h1>
                    </div>
                </div>

            <div class="table__right__cards">
                <div class="card1">
                    <h1>Active</h1>
                    <p>23,000</p>
                </div>
                <div class="card2">
                    <h1>Confirmed</h1>
                    <p>23,000</p>
                </div>
                <div class="card3">
                    <h1>Recovered</h1>
                    <p>23,000</p>
                </div>
                <div class="card4">
                    <h1>Deceased</h1>
                    <p>23,000</p>
                </div>
            </div>
            <div class="charts1">
<canvas id="myChart1" width="400" height="400px " style="position: relative;"></canvas></div>
<canvas id="myChart2" width="400" height="400px"style="position: relative;"></canvas>
<canvas id="myChart3" width="400" height="400px"style="position: relative;"></canvas>


            </div>
        </div>
    </div>
</main>

</section>

<section>
    <div class="container1">
        <div class="filterDiv">
            <div id="chartdiv1"></div>
           
            

        </div>
        <div class="filterDiv ">
            <div id="chartdiv2"></div>
           
            

        </div>
        <div class="filterDiv ">
            <div id="chartdiv3"></div>
           
            

        </div>
    
    <div class="filterDiv ">
        <div id="chartdiv4"></div>
       
        

    </div>
        
      </div>

</section>
  
  
  

  <!-- ----------------------------------------card ends -------------------------->
   <!-- <script type="text/javascript" src="static/vanilla-tilt.js"></script>  -->
   <script type="text/javascript" src="static/app.js"></script>
   <script type="text/javascript" src="static/chartdata.js"></script> 
   <script  src="../static/heatmap.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

</body>
</html>